@model TestWebApp.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Birthdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Gender)
            </td>
            <td>
                <table class="table">
                    <tr>
                        <th>StreetAddress</th>
                        <th>Country</th>
                        <th>Zip</th>
                        <th>CountryId</th>
                    </tr>
                    @foreach (var a in Model.Addresses)
                    {
                <tr>
                    <td>
                        @Html.DisplayFor(ri => a.StreetAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(ri => a.Country)
                    </td>
                    <td>
                        @Html.DisplayFor(ri => a.Zip)
                    </td>
                    <td>
                        @Html.DisplayFor(ri => a.CountryId)
                    </td>
                </tr>
                    }
                </table>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@Model.CustomerId">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </td>
        </tr>
    </tbody>
</table>