@model IEnumerable<TestWebApp.Models.Address>

@{
    ViewData["Title"] = "Index";
}

<h1>@Html.DisplayFor(model => model.First().Customer.FullName)</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StreetAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StreetAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Zip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerId)
                </td>
                <td>
                    <a asp-controller="Address" asp-action="DeleteAddress" asp-route-id="@item.Id">Delete Address</a> |
                    <a asp-controller="Address" asp-action="EditAddress" asp-route-id="@item.Id">Edit Address</a>
                </td>
            </tr>
        }


    </tbody>
</table>

<form>
    <a asp-controller="Customers" asp-action="Index" asp-route-id=>Return to Customer List</a>
</form>