@model IEnumerable<TestWebApp.Models.Address>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                <a asp-controller="Address" asp-action="DeleteAddress" asp-route-id="@item.AddressId">Delete Address</a> |
                <a asp-controller="Address" asp-action="EditAddress" asp-route-id="@item.AddressId">Edit Address</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<form>
    <a asp-controller="Customers" asp-action="Index">Return to Customer List</a>
</form>